@{
    Layout = null;
    ViewData["Title"] = "Dashboard";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/microsoft/signalr/dist/browser/signalr.js"></script>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


<style>
    body {
        background: var(--bg-main);
        color: var(--text-main);
    }


    .dashboard-header {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .dash-toolbar button {
        background: var(--card-bg);
        color: var(--text-main);
        border: 1px solid var(--border-color);
    }

    .stat-card {
        background: var(--card-bg);
        border-radius: 12px;
        padding: 20px;
        min-height: 160px;
        text-align: center;
        border: 1px solid var(--border-color);
    }

    .stat-number {
        font-size: 42px;
        margin-top: 20px;
        font-weight: 500;
    }

    .charts-row {
        display: flex;
        gap: 20px;
    }

        .charts-row canvas {
            width: 48% !important;
            max-height: 400px;
        }
</style>


<!-- Toolbar -->
<div class="dash-toolbar d-flex gap-2 mb-4">

    <input id="filter" class="form-control form-control-sm w-auto" placeholder="Type to filter" />
    <button class="btn btn-sm" onclick=""><i class="fa fa-save"></i></button>

    <div class="ms-auto d-flex gap-2">
        <a asp-action="ExportDashboard"
           asp-route-projectId="@ViewBag.projectId"
           asp-route-userId="@ViewBag.UserId"
           class="btn btn-sm btn-outline-primary">
            Export
        </a>
    </div>
</div>


<!-- STAT CARDS -->
<div class="row g-3">

    <div class="col-md-3">
        <div class="stat-card">
            <div>All Tasks</div>
            <div class="stat-number">@ViewBag.TotalTasks</div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="stat-card">
            <div>Doing</div>
            <div class="stat-number">@ViewBag.inProgressTasks</div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="stat-card">
            <div>Stuck</div>
            <div class="stat-number">@ViewBag.StuckTasks</div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="stat-card">
            <div>Done</div>
            <div class="stat-number">@ViewBag.CompletedTasks</div>
        </div>
    </div>

</div>


<div class="charts-row">
    <canvas id="projectChart"></canvas>
    <canvas id="ownerChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
      let tasks = @Html.Raw(ViewBag.Tasks);
      let chartTask = @Html.Raw(ViewBag.TasksForChart);
      let userTasks = @Html.Raw(ViewBag.OwnerTasks);
      const ctx = document.getElementById('projectChart');
      const ctx2 = document.getElementById('ownerChart');
      const chartData = getChartDataFromTasks(chartTask);
      const userChart = getUserChartData(userTasks);
      //Project Chart

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: chartData.labels,
        datasets: [{
          label: 'Project Task',
          data: chartData.values,
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        Plugins: {
            legend: {
                labels: {
                    font: {
                        size: 16
                    }
                }
            }
        },
        scales: {
            x: {
                ticks: {
                     maxRotation: 0,
                     minRotation: 0,
                     autoSkip: false,
                    font: {
                        size: 16
                    }
                }
            },
            y: {
                ticks: {
                    font: {
                        size: 16
                    }
                },
                beginAtZero: true
            }
        }
    }
    });

    //User Chart

        new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: userChart.labels,
                datasets: [{
                    label: 'Owner Tasks',
                    data: userChart.values,
                    borderWidth: 1
                }]
            },
            options: {
        responsive: true,
        Plugins: {
            legend: {
                labels: {
                    font: {
                        size: 16
                    }
                }
            }
        },
        scales: {
            x: {
                ticks: {
                     maxRotation: 0,
                     minRotation: 0,
                     autoSkip: false,
                    font: {
                        size: 16
                    }
                }
            },
            y: {
                ticks: {
                    font: {
                        size: 16
                    }
                },
                beginAtZero: true
            }
        }
    }
        });


        window.addEventListener("resize", () => {
        projectChart.resize();
        ownerChart.resize();
    });

    // Project Task
        function getChartDataFromTasks(tasks) {
        const ownerCount = {};

        tasks.forEach(t => {
            ownerCount[t.Owner] = (ownerCount[t.Owner] || 0) + 1;
        });

        return {
            labels: Object.keys(ownerCount),
            values: Object.values(ownerCount)
        };
    }

    // User Task
        function getUserChartData(tasks){
            const statusCount = {};

            tasks.forEach(t => {
                statusCount[t.Status] = (statusCount[t.Status] || 0) + 1;
            });

            return {
                labels: Object.keys(statusCount),
                values: Object.values(statusCount)
            };

        }


</script>


<script>
    let chart;
    let projectId = @ViewBag.ProjectId;



        //SEARCH FOR DASHBOARD

    const input = document.getElementById("filter");
    input.addEventListener("keyup", function(){
        let keyword = this.value.toLowerCase();
        let filtered = tasks.filter(t => t.Title.toLowerCase().includes(keyword));

        updateStats(filtered);
        updateChart(filtered);
    });

    //Update chart

    function updateChart(list) {
        const ownerCount = {};
        list.forEach(t => {
            ownerCount[t.Owner] = (ownerCount[t.Owner] || 0) + 1;
        });

        const labels = Object.keys(ownerCount);
        const values = Object.values(ownerCount);


        chart = new Chart(document.getElementById('projectChart'), {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Project Task',
                    data: values
                }]
            }
        });
    }


    // CONNECT SIGNALR
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/taskHub")
        .build();

    connection.start().catch(err => console.error(err));

    // TASK UPDATE
    connection.on("TaskUpdated", function () {
        reloadTasks();
    });

    // RELOAD TASKS REALTIME

    function reloadTasks() {
        fetch(`/Dashboard/GetTasks?projectId=${projectId}`)
            .then(res => res.json())
            .then(newTasks => {
                tasks = newTasks;
                updateStats(tasks);
                updateChart(tasks);
            });
    }

        function updateStats(tasks) {
        const cards = document.querySelectorAll(".stat-card .stat-number");
        if (cards.length < 4) return;

        cards[0].textContent = tasks.length;
        cards[1].textContent = tasks.filter(t => t.Status === "Doing").length;
        cards[2].textContent = tasks.filter(t => t.Status === "Stuck").length;
        cards[3].textContent = tasks.filter(t => t.Status === "Completed").length;
    }

</script>
<script>
    (function () {
        // 1️⃣ Load lần đầu
        const theme = localStorage.getItem("theme");
        if (theme === "dark") {
            document.documentElement.setAttribute("data-theme", "dark");
        }

        // 2️⃣ Nghe toggle từ trang cha
        window.addEventListener("message", function (event) {
            if (!event.data || !event.data.theme) return;

            if (event.data.theme === "dark") {
                document.documentElement.setAttribute("data-theme", "dark");
            } else {
                document.documentElement.removeAttribute("data-theme");
            }
        });
    })();
</script>




