@model List<CreateReportViewModel>

@foreach (var report in Model)
{
    <table class="table table-bordered mb-4 text-center">
        <tr>
            <th>Members</th>
            @foreach (var m in report.TeamMembers)
            {
                <th>@m.FullName</th>
            }
        </tr>


        <tr>
            <th>Plan</th>
            @foreach (var m in report.TeamMembers)
            {
                <td>@m.Plan</td>
            }
        </tr>


        <tr>
            <th>Actual</th>
            @foreach (var m in report.TeamMembers)
            {
                <td>@m.Actual</td>
            }
        </tr>
        <tr>
            <th>Progress %</th>
            @foreach (var m in report.TeamMembers)
            {
                <td>@m.ProgressPercent %</td>
            }
        </tr>


        <tr class="table-warning">
            <th>Team Execute %</th>
            <td colspan="@report.TeamMembers.Count">
                @report.TeamExecutePercent %
            </td>
        </tr>

    </table>
}
